{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "ie  >= 8"]
            }
        }],
        ["stage-0"]
    ],
    "plugins": [
        "transform-runtime"
    ],
    "comments": false
}